@font-face {
  font-family: "Suiss Intl";
  font-style: normal;
  font-weight: 400;
  src: url("SuisseIntl-Regular.otf") format("opentype")
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}

.page {
  padding: 100px; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  border: solid 1px;
  padding: 30px;
  margin: 30px;
  width: 100%;
}

.button {
  height: 50px;
  width: 50px;
  margin: 10px;
} 

