.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.page {
  padding: 100px; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 144px;
  height: 200px;
  border: 1px solid;
  gap: 10px;
}

.item {
  width: 30px;
  height: 30px;
}