@font-face {
  font-family: "Suiss Intl";
  font-style: normal;
  font-weight: 400;
  src: url("SuisseIntl-Regular.otf") format("opentype")
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.page {
  padding: 100px; 
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button_action_go {
  background-color: green;
}

.button_action_slow {
  background-color: yellow;
}

.button_action_stop {
  background-color: red;
}

