@font-face {
  font-family: "Suiss Intl";
  font-style: normal;
  font-weight: 400;
  src: url("SuisseIntl-Regular.otf") format("opentype")
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
}

.page {
  padding: 100px; 
}

/* .card__content {
  display: flex;
} */

